.root {
  max-width: 35rem;

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.75rem;
  }

  form {
    fieldset {
      margin: .25rem 0;
      border: 1px solid #333;
    }
  }

  .kicker {
    margin: .5rem 0 0 0;
    border: 1px solid #333;
  }
}